html{
    font-size: 15px;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Roboto', italic,  sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 1rem;
    font-family: 'Roboto', italic,  sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color:#171829;
    padding: 0 3rem;
    position: relative
}


/* Header Styles */

header{
    width: 100%;
    height: 15vh;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    list-style: none;
    margin: 0 1rem;
}

nav ul li a{
    text-decoration: none;
    color:#F46C95;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
}





nav ul li a::before{
    content: " ";
    width: 0%;
    height: 0.5rem;
    background-color: #F46C95;
    position: absolute;
    bottom: -0.7rem;
    transition: all 0.4s ease-in-out;
}

nav ul li a:hover::before{
    width: 100%;
}





.menu-button{
    cursor: pointer;
    font-size: 3rem;
    color: #F46C95;
    display: none;
}


/* Welcome Styles */

.welcome{
    min-height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



h3{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0 2rem 0;
    color: #F46C95;
}

.welcome .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.foto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.foto-personal img{
    width: 24rem;
    height: 26rem;
    filter: hue-rotate(287deg); 
}

h1{
    font-size: 3rem;
    margin: 0 0 1rem 0;
    color: #F46C95;
    text-align: center;
}

hr{
    width: 80%;
}

h2{
    font-size: 1.5rem;
    text-align: center;
    color: #F46C95;
    margin-top: 1rem;
}

.introduccion{
    width: 50%;
}

.introduccion p{
    font-size: 1.5rem;
    text-align: start;
    letter-spacing: 0.3rem;
    line-height: 2rem;
    color: #F46C95;
}

/* Skills Styles */

.skills{
    width: 100%;
    min-height: 100vh;
}



 .skills .card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7rem;
}

.hard-skills{
    width: 50%;
}

.hard-skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.hard-skill{
    background-color: white;
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    border: 5px solid #7379E1;
    box-shadow: -1px -1px 37px 5px rgba(115,121,225,0.61);
    cursor: pointer;
}

.hard-skill img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}


.soft-skills{
    width: 50%;
}

.soft-skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.soft-skill{
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    background-color: #7379E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #F46C95;
    box-shadow: -1px -1px 37px 5px rgba(244,108,149,0.6);
    cursor: pointer;
}

.soft-skill i{
    font-size: 3rem;
}

.soft-skill p{
    font-size: 0.8rem;
    margin-top: 0.3rem;
}


/* Curriculum Styles */

.curriculum{
    width: 100%;
    min-height: 100vh;
}

.curriculum .card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 7rem;
    gap: 2rem;
}

.cv-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F46C95;
    width: 20rem;
    border-radius: 1.5rem;
    border: 5px solid white;
    box-shadow: -1px -1px 37px 5px rgba(255,255,255,0.61);
    
}

.title{
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 0;
}

.year{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.cv-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    background-color:#7379E1;
    border-radius: 0 0 1.5rem 1.5rem;
}

.cv-item a{
    text-decoration: none;
    text-align: center;
    font-size: 1rem; 
    color: white;
}


/* Proyectos Styles */

.proyectos{
    width: 100%;
}

.selectors-container{
    display: flex;
    justify-content: center;
    height: 10rem;
    margin-top: 5rem;
}

.selectors-container button{
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in;
}

.components-button{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 4rem;
}


.components-button i{
    font-size: 3rem;
    color: #F46C95;
    background-color:#171829;
}

.components-button button:hover{
    text-shadow: 1px 1px 30px rgb(244, 108, 149);
}

.sites-button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 4rem;
}

.sites-button i{
    font-size: 3rem;
    color:#7379E1;
    background-color:#171829;
}

.sites-button button:hover{
    text-shadow: 1px 1px 30px rgba(115, 121, 225, 1);
}

.apps-button{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 4rem; 
}

.apps-button i{
    font-size: 3rem;
    color:brown;
    background-color:#171829;
}

.apps-button button:hover{
    text-shadow: 1px 1px 30px rgba(165, 42, 42, 1);
}

.components-container, .sites-container, .apps-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 0;
    border-radius: 1.5rem;
}


.collapsed{
    height: 100%;
}


.proyectos .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F46C95;
    margin: 2rem 0;
    border-radius: 1.6rem;
    box-shadow: -1px -1px 37px 5px rgba(244,108,149,0.6);
}

.sites-container .card{
    background-color: #7379E1;
    box-shadow: -1px -1px 37px 5px rgba(115,121,225,0.61);
}

.sites-container .img-description li{
    color: white;
}

.sites-container .vivo-link{
    background-color: white;
    color: #7379E1;
}

.apps-container .card{
    background-color: brown;
    box-shadow: -1px -1px 37px 5px rgba(165, 42, 42, 0.61);
}

.apps-container .img-description li{
    color: white;
}

.apps-container .vivo-link{
    background-color: white;
    color: brown;
}

.proyectos h4{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.components-container h4{
    color: #F46C95;
}

.sites-container h4{
    color: #7379E1;
}

.apps-container h4{
    color: brown;
}

.img-container{
    width: 30rem;
    height: 20rem;
    border-radius: 1.6rem;
}

.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.img-description{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 20rem;
    padding: 0 1rem 0 1rem;
}


.img-description ul{
    margin-top: 1rem;
}

.img-description li{
    list-style: none;
    font-size: 1.3rem;
    margin: 1.5rem 0 1.5rem 0;
    text-align: center;
    color: white;
   
}




.card-links{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.vivo-link{
    color:#F46C95;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    background-color: white;
    border-radius: 1.5rem;
    transition: all 0.4s ease-in-out;
}

.vivo-link:hover{
    border-radius: 0;
}


.git-link i{
    color: black;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 0.5rem;
}

.git-link i:hover{
    color: white;
}


/* Contacto Styles */

.contacto{
    width: 100%;
    min-height: 100vh;
}

.contact-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.contact-form h4{
    color: #F46C95;
    font-size: 2rem;
}


.contact-form div{
    width: 65%;
    position: relative;
}

.contact-form input, .contact-form textarea {
    font-size: 1.2rem;
    color: #F46C95;
    padding: 0.4rem 0.6rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    outline: none;
    box-shadow: -1px -1px 37px 5px rgba(244,108,149,0.6);
}

.contact-form textarea{
    resize: none;
    height: 10rem;
}

.contact-form input::placeholder, textarea::placeholder{
    color: #F46C95; 
}

.error-icon{
    color: red;
    font-size: 1.5rem;
    position: absolute;
    top: 0.3rem;
    right: 1.5rem;
}

.error-msj{
    color: red;
    font-size: 1rem;
    position: absolute;
    right: 1.5rem;
    bottom: -1.5rem;
}

.contact-form button{
    width: 25%;
    padding: 0.5rem 0;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: #F46C95;
    color: white;
    transition: all 0.3s ease-in-out;
}

.contact-form button:hover{
    background-color: #7379E1;
    box-shadow: -1px -1px 37px 5px rgba(115,121,225,0.61);
}


.contact-links{
    width: 50%;
    display: flex;
    justify-content: center;
    

}

.first-column, .second-column, .third-column, .four-column{
    display: flex;
    height: 100%;
    height: 30rem;
    width: 10rem;
}

.first-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-column{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}


.third-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-links a{
    text-align: center;
    
}

.contact-links i{
    font-size: 4rem;
    color: #F46C95;
    transition: all 0.3s ease-in-out;

}

.contact-links i:hover{
    text-shadow: 1px 1px 30px rgba(244, 108, 149, 1);
}


.arrow-up{
    color: yellow;
    position: sticky;
    left: 120rem;
    bottom: 5rem;
    font-size: 0;
    opacity: 0;
    height: 0;
    z-index: 50;
    transition: all 0.6s ease;
}

.arrow-active{
    opacity: 0.5;
    height: 100%;
    font-size: 5rem;
    
}

.arrow-up:hover{
    opacity: 1;
}



@media (max-width: 840px){

    nav ul{
            position: absolute;
            z-index: 50;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            background-color:rgba(35, 40, 62, 0.7);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            transition: all 0.7s ease-in;
            overflow: hidden;
    }

    .menu-active{
        height: 100%;
        padding-top: 5rem;
    }



    nav ul li{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    

    nav ul li a{
        width: 100%;
        padding: 1.5rem 0 1.5rem 0;
        transition: all 0.5s ease;
    }

    
    nav ul li a:hover{
        background-color: rgba(244, 108, 149, 0.5);
        color: #23283E;
    }
    
    nav ul li a:hover::before{
        width: 0%;
    }

    .menu-button{
        display: block;
        position: absolute;
        z-index: 100;
    }








    .welcome{
        justify-content: center;
    }


    h3{
        font-size: 2rem ;
    }

    .foto-personal img{
        width: 19rem;
        height: 20rem;

    }
    
    .introduccion{
        width: 100%;
        margin: 2rem 0;
    }

    .introduccion p{
        font-size: 1.5rem;
        text-align: center;
    }




    .img-container{
        width: 100%;
    }

    .hard-skills{
        width: 100%;
    }

    .hard-skills-container{
        justify-content: space-between;
    }


    .soft-skills{
        margin: 2rem 0 4rem 0;
        width: 100%;
    }

    .soft-skills-container{
        justify-content: space-between;
    }



    .proyectos .card{
        max-width: 20rem;
    }

    .img-container{
        width: 20rem;
        height: 14rem;
        border-radius: 1.6rem;
    }

    .img-description{
        width: 20rem;

    }





    .contact-form{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .contact-form div{
        width: 100%;
    }

    .contact-form input, .contact-form textarea{
        width: 100%;
    }

    .contact-form button{
        width: 100%;
    }



    .arrow-active{
        font-size: 4rem;
    }

}